.home_page {
	background-color: var(--background-home);

	.nav {
		position: fixed;
		top: 0;
		left: 0;
		height: 70px;
		width: 100%;
		background-color: var(--white);
		z-index: 100;
		box-shadow: 0 0 1px #000;

		&_bar {
			font-family: var(--font-main);
			height: 100%;
			max-width: 1000px;
			width: 100%;
			margin: 0 auto;
			padding: 0 15px;
			display: flex;
			align-items: center;
			justify-content: space-between;

			.menu_icon {
				color: var(--black);
				font-size: 25px;
				cursor: pointer;
				display: none;
			}

			&-logo {
				a {
					font-size: 35px;
					font-weight: bold;
					color: var(--main-color);
					text-decoration: none;
				}
			}

			&-menu {
				.header_logo {
					display: none;

					.logo_mobile {
						a {
							font-weight: bold;
							font-size: 25px;
							color: var(--white);
							text-decoration: none;
						}
					}
				}

				.menu_links {
					padding: 0;
					display: flex;
					align-items: center;

					li {
						list-style: none;
						margin: 0 5px;

						a {
							color: var(--black);
							font-size: 18px;
							text-decoration: none;
							padding: 5px 20px;
							position: relative;
						}

						a:hover {
							color: var(--main-color);
						}

						a::before {
							content: '';
							left: 28%;
							position: absolute;
							height: 2px;
							width: 35px;
							border-radius: 5%;
							background-color: var(--main-color);
							opacity: 0;
							bottom: 0;
							transition: all 0.3s ease;
						}

						&:hover a::before {
							opacity: 1;
						}
					}

				}
			}

			&-function {
				display: flex;
				justify-content: center;
				align-items: center;

				.cart,
				.search,
				.login_icons>a {
					cursor: pointer;
					color: var(--black);
					height: 50px;
					width: 50px;
					display: flex;
					align-items: center;
					justify-content: center;
					margin: 0 10px;
					font-size: 27px;
				}

				.cart:hover,
				.search:hover,
				.login_icons>a:hover {
					color: var(--main-color);
				}

				.cart {
					position: relative;

					.number_cart {
						background-color: var(--main-color);
						width: fit-content;
						height: fit-content;
						padding: 2px 6px;
						border-radius: 100px;
						text-align: center;
						font-size: 10px;
						position: absolute;
						bottom: 25px;
						right: 1px;
						color: var(--white);

					}
				}

				.search {
					position: relative;

					&_toggle {
						i {
							cursor: pointer;
							transition: all 0.3s ease;
							position: absolute;
							bottom: 2px;
						}

						.search_icons {
							opacity: 1;
							pointer-events: auto;
						}

						.cancel_icons {
							opacity: 0;
							pointer-events: none;
						}

						&.active {
							&>.search_icons {
								opacity: 0;
								pointer-events: none;
							}

							&>.cancel_icons {
								opacity: 1;
								pointer-events: auto;
							}

							&~.search_input {
								opacity: 1;
								pointer-events: auto;
							}

						}
					}

					&_input {
						border: 2px solid var(--main-color);
						position: absolute;
						bottom: -75px;
						right: 5px;
						height: 50px;
						width: 300px;
						display: flex;
						align-items: center;
						background-color: var(--white);
						padding: 3px;
						border-radius: 6px;
						box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
						opacity: 0;
						pointer-events: none;
						transition: all 0.3s ease;
						z-index: 100;

						input {
							height: 100%;
							width: 100%;
							padding: 0 45px 0 15px;
							outline: none;
							border: none;
							border-radius: 4px;
							font-size: 14px;
							font-weight: 400;
							color: var(--grey-text);
							background-color: var(--white);
						}

						i {
							position: absolute;
							color: var(--main-color);
							right: 15px;
							font-size: 22px;
							cursor: pointer;
						}

					}
				}
			}
		}
	}

}


@media only screen and (max-width: 850px) {
	.home_page {
		.nav {
			&_bar {
				padding: 0 10px;

				.menu_icon {
					display: block;
				}

				&-logo {
					a {
						font-size: 25px;
					}
				}

				&-menu {
					position: fixed;
					height: 500vh;
					width: 250px;
					left: -100%;
					top: 0;
					padding: 20px;
					background-color: var(--slide-nav);
					z-index: 100;
					transition: all 0.4s ease;

					.header_logo {
						display: block;
						width: 100%;
						display: flex;
						align-items: center;
						justify-content: space-between;

						.close {
							color: var(--white);
							font-size: 20px;
							cursor: pointer;
						}

						.logo_mobile {
							display: block;
							width: 100%;
							display: flex;
							align-items: center;
							justify-content: space-between;
						}
					}

					.menu_links {
						flex-direction: column;
						margin-top: 20px;
						overflow-y: auto;

						li {
							margin: 15px 0;
							width: 55%;
							padding: 5px 0;
							text-align: center;
							border-radius: 5px;

							a {
								color: var(--white);
							}

							&:hover a::before {
								opacity: 0;
							}

							&:hover {
								background-color: var(--background-home);

								&>a {
									color: #000;
								}
							}
						}
					}

				}

				&.active>.nav_bar-menu {
					left: -0%;
				}

				&.active>span {
					visibility: hidden;
					transition: all 0.3s ease;
				}

				&-function {
					.search {
						top: -5px;

						&_input {
							width: 250px;
							right: -25px;
						}
					}

					.cart,
					.search_toggle,
					.login_icons>a {
						margin: 0;
						font-size: 23px;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 300px) {
	.home_page {
		.nav {
			&_bar {
				&-logo {
					a {
						display: none;
					}
				}

				.menu_icon {
					display: block;
				}

				&-menu {
					width: 280px;
				}

				&-function {
					.search {
						&_input {
							width: 200px;
							right: -45px;
						}
					}
				}
			}
		}
	}

}