:root {
	--main-color: #0085FF;
	--black: #000000;
	--red-error: #E54343;
	--grey-text: #3D4F58;
	--white : #FFFFFF;
	--green-button: #08B978;
	--green-button-hover: #079F68;
	--background-home: #E4E9F7;
	--line-color:#D9DDE1;
	--slide-nav: #010718;
}
:root {
	--font-main: 'Nunito', sans-serif;
	--font-roboto: 'Roboto', sans-serif;
}